@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* COLOR PALETTE */
:root {
  --first-color: #fda403aa;
  --second-color: #e8751aaa;
  --third-color: #c51350aa;
  --fourth-color: #8a1253aa;
  --fifth-color: #96ceb4aa;
  --text-color: #2b373f;
  /* night mode*/
  --night-first-color: #070f2b;
  --night-second-color: #1b1a55;
  --night-third-color: #535c91;
  --night-fourth-color: #9290c3;
  --night-fifth-color: #2d3d36;
  --night-text-color: #f9f1f1;
}

* {
  border: red solid 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Ropa Sans", "Raleway", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: block;
}

body.night-mode {
  color: var(--night-text-color);
}

/* HEADER */
nav {
  background-color: var(--first-color);
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

nav.night-mode {
  background-color: var(--night-first-color);
}

#left-side-header {
  left: 2rem;
  position: relative;
  display: flex;
  align-items: baseline;
  height: 10rem;
  width: 13rem;
  box-sizing: border-box;
  align-items: end;
  justify-content: space-between;
}

#nav-logo {
  height: 100%;
}

#nav-logo.night-mode {
  filter: invert(100%);
}

button {
  height: 20%;
  width: 20%;
  border-radius: 30%;
  background-color: midnightblue;
  color: honeydew;
}

button.night-mode {
  background-color: var(--night-fourth-color);
  color: var(--night-text-color);
}

nav ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  right: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
}

#nav-list a {
  text-decoration: none;
  color: var(--text-color);
}

#nav-list a.night-mode {
  color: var(--night-text-color);
}

/* ABOUT ME */
#about-me {
  background-color: var(--second-color);
  display: flex;
  flex-direction: row;
  height: 25rem;
  padding: 2rem;

  /* overflow: auto; */
}

#about-me.night-mode {
  background-color: var(--night-second-color);
}

.split-text {
  width: 62%;
  font-size: 1.8rem;
}

.split-text h1 {
  margin-top: 0;
}

.split-photo {
  width: 38%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.split-photo img {
  border-radius: 5%;
  border: var(--fourth-color) solid 5px;
  box-shadow: 6px 6px 3.5px 0px var(--text-color);
}

.split-photo img.night-mode {
  border: var(--night-fourth-color) solid 5px;
  box-shadow: 6px 6px 3.5px 0px var(--night-text-color);
}

/* PROJECTS */
#projects {
  background-color: var(--third-color);
  font-size: 1.5rem;
}

#projects.night-mode {
  background-color: var(--night-third-color);
}

#projects h1 {
  position: relative;
  padding: 2rem;
  margin: 0;
}

#projects details {
  position: relative;
  left: 2rem;
  padding: 1rem 0;
}

#projects details summary::marker {
  color: var(--fourth-color);
}

#projects details img {
  margin: 0.75rem;
  max-height: 20rem;
  max-width: 30rem;
  border: var(--text-color) solid 3px;
}

#projects details p {
  font-size: 1.25rem;
}

.ideas-container {
  padding: 0 0 2rem;
}

/* SKILLS */
#skills {
  background-color: var(--fourth-color);
  display: block;
}

#skills.night-mode {
  background-color: var(--night-fourth-color);
}

#skills h1 {
  padding: 2rem;
  font-size: 2rem;
  margin: 0;
}

#skills-container {
  padding: 1rem 2rem 4rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container span {
  font-size: 1.75em;
  width: 1.5em;
}

/* FOOTER */
footer {
  background-color: var(--text-color);
  height: 60px;
  line-height: 60px;
  font-size: 1.25rem;
  color: honeydew;
  text-align: center;
}

footer.night-mode {
  color: var(--night-text-color);
}

/* CONTACT PAGE */
#contact-page {
  background-color: var(--fifth-color);
  height: 21.5rem;
  padding: 5rem 2rem;
  font-size: 1.5rem;
}

#contact-page.night-mode {
  background-color: var(--night-fifth-color);
}

@media only screen and (max-width: 1036px) {
  #about-me {
    flex-direction: column;
    height: max-content;
    align-items: center;
  }

  .split-text {
    width: 100%;
  }

  .split-photo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  img {
    overflow: auto;
  }

  #about-me .split-text,
  #projects,
  #skills,
  #skills-container,
  footer {
    font-size: 1.3rem;
  }
}
